 
h1{
    text-align:left;
    padding-top:40px;
}
h3{
    cursor:pointer;
    text-decoration:underline;
    color:blue;
}

body{
    background-color:	 #33ffbb;
    border-radius: 6px;
    width:98%;
    height:97%;
    margin:15px;
    position: fixed;
    overflow:auto;    
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*background:url(./img/edit.png) no-repeat;*/

}
button {
  float:right;
  cursor: pointer;
  background-color: black;
  background:url(./img/edit.png) no-repeat;
  height:15px;
  width:10px;
}



label{
    margin:10px;
}
#create-Contact{
float:right;
margin-right: 40px;
}
fieldset{
    background-color:white;
    padding:20px 0px 20px 0px;
}
#sectionGrid{
    position:fixed;
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

.sectionGridDiv{
    border-radius: 10px;
    margin:20px;
    display:block;
    background-color:#00e699;
    padding:5px;
    min-width:200px !important;
    text-align:center;
    font-weight: 600;
    position:relative;
}

.sectionGridDiv > input:hover{
    background-color: red;
    cursor:pointer;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.sectionGridDiv > input {
    border:none;
    float:bottom;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #33ffbb;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

