 
h1{
    text-align:left;
    margin-left: 20px;
    padding-top:40px;
}
#searchBar{
    float:left;
    padding: 10px;
    border-radius: 6px;
    width:200px;    
    margin-right:10px; 
    background-color: #000d1a;
}
body{
    background-color:	 #33ffbb;
    border-radius: 6px;
    width:98%;
    height:97%;
    margin:auto;
    position: fixed;
    overflow:auto;    
    top:0;
    left:0;
    right:0;
    bottom:0;
}
button {
    border-radius: 6px;
    border: none;
    background-color: #000d1a;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
    margin-left:5px;
    color: white;
  }

label{
    margin:10px;
}
#create-Contact{
float:right;
margin-right: 40px;
}
fieldset{
    background-color:white;
    padding:20px 0px 20px 0px;
}
#sectionGrid{
    position:fixed;
    display:flex;
}
.sectionGridDiv{
    margin:20px;
    display:block;
    background-color:#00e699;
    padding:5px;
    width:30%;
    text-align:center;
    font-weight: 600;
}
img{
    max-width:30%;
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.sectionGridDiv > input:hover{
    background-color: red;
}
.sectionGridDiv > input {
    border:0px;
}
